<div class="wrap">
   <div class="header">
    <h2>Message from the Chairman</h2>
   </div>
  <div class="col-md-12">
    <div class="row" style="margin-top: 2rem;">
        <div class="col-md-6">
            <div class="display">
                <div class="box">
                    <img src="../../../assets/images/chiarman.jpg" alt="" class="img">
                </div>
                <div class="chir-text-name">
                    <p> سعادة عبدالله سلطان العويس
                        HE Abdulla Sultan Al Owais  
                        رئيس مجلس إدارة غرفة الشارقة
                        Chairman of Sharjah Chamber</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-content">
                <h4>Sharjah Excellence Award seeks to strengthen the position of Sharjah as an aspirational place to work and invest.</h4>
                <div>
                   <span style="color: red;">Abdulla Al Owais -</span>  <span>Chairman of the Sharjah Chamber of Commerce and Industry</span>
                </div>
               </div>
        </div>
    </div>
  </div>
</div>
