<div class="container-fluid footer">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="box-footer">
                    <h3 style=" font-size: 13px;color: #a4a4a4;">Sharjah Excellence Award Copyright 2023. All rights reserved
                        Powered By Sharjah Chamber of Commerce & Industry</h3>
                </div>
            </div>
            <div class="col-md-6" style="border-left: 1px solid;">
                <div class="box-social">
                    <h3 style="font-size: 17px;">Follow us</h3>
                   <div class="i-con">
                    <span class="fa fa-facebook"></span>
                    <span class="fa fa-twitter"></span>
                    <span class="fa fa-google"></span>
                   </div>
                </div>
            </div>
            
        </div>
    </div>
</div>