.footer{
    background-color: #312f2f;
    color: white;
    padding-top: 3rem;
    padding-bottom: 2rem;

}
.box-social{
    float: right;
    padding-right: 20px;
}
.i-con{
    display: flex;
    justify-content: space-between;
}
.fa{
    background: yellow;
    width: 29px;
    height: 29px;
    padding: 8px;
    color: black;
    border-radius: 50%;
    margin-right: 6px;
}
.box-footer{
    padding-left: 26px;
}