
<nav class="navbar navbar-expand-lg navbar-light bg-light " appScroll >
    <div class="container-fluid">
     <div class="mid-logo">
      <a class="navbar-brand" href="#"><img src="../../../assets/images/logos/logo.png" alt="" class="logo"></a>
     </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" (click)="about()">ABOUT US</a>
          <a class="nav-link" (click)="members()">CHAIRMAN'S WORLD</a>
          <a class="nav-link" href="#">MISSION & VISION</a>
          <a class="nav-link" href="#">VALUES</a>
          <a class="nav-link" href="#">TERMS & CONDITIONS</a>
          <a class="nav-link" href="#" tabindex="-1" ></a>
        <div class="admin">
          <span class="use" (click)="loginAdmin()"><i class="fa fa-user" aria-hidden="true"></i></span>
        </div>
         
        </div>
      </div>
    </div>
  </nav>
