.section{
    background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(227, 208, 5, 0)),url('../../../assets/images/banner3.png') fixed center center;
    background-size: cover;
    /* padding: 60px 0; */
    color: white;
    height: 400px;
}
.Vector_img{
    height: 100%;
}
.text-header-box{
    position: relative;
    width: 49rem;
    bottom: 16rem;
    padding: 22px;
    background: #ffffffcf;
    color: #078207;
    margin-left: 35px;
}
.section-1{
    background-image:url('../../../assets/images/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 400px; */
}
.text-header{
    text-align: center;
    padding: 20px;
    background: #ffffff8f;
}
.content-about{
    padding-left: 20px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.card{
    padding: 1rem;
}