<div class="section">
    <img src="../../../assets/images/Vector 1.png" alt="" class="Vector_img">
    <div class="text-header-box">
        <p>The Sharjah Entrepreneurs Award targets the most successful and leading Entrepreneurs in the United Arab Emirates whom had put a footprint in the business world which has a significant impact on their personal and professional life. The Sharjah Entrepreneurs Award is only open to private sector Entrepreneurs in the UAE.</p>
    </div>
</div>
<div class="section-1">
    <div class="text-header">
        <h2>The Assessment Criterion for the Award is as follow</h2>
    </div>

      <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="content-about">
                    <div class="card">
                        <p>A set of characteristics or traits that distinguish entrepreneurs from others and determine the method of their interaction with the business environment surrounding them and their businesses and affecting their behavior during the development and business management process such as: passion, vision, risk assessment, personal development, self-confidence, hard work, and communication skills</p>
                        <a href="">See More...</a>
                    </div>
            
                  </div> 
            </div>
            <div class="col-md-4">
                <div class="content-about">
                    <div class="card">
                        <p> <strong>Passion:</strong>  Drives entrepreneurs to achieve their goals, overcome challenges, and work hard to succeed. In the absence of passion, it may become difficult to stay motivated and survive difficult times. It is evident in traits such as dedication and commitment, bearing hardships, continuous improvement, innovation, and renewal at work, positively influencing others, and having a vision and long-term planning. </p>
                        <a href="">See More...</a>
                    </div>
            
                  </div> 
            </div>
            <div class="col-md-4">
                <div class="content-about">
                    <div class="card">
                        <p><strong>Vision:</strong>  Vision relates to the future directions that entrepreneurs see for their businesses and guides their actions and decisions. It represents the goal they aspire to and the values they espouse as a criterion for measuring performance and achieving long-term success. The vision can provide some benefits to the business such as guidance and motivation, identifying goals and strategies, consistency, cohesion, and uniting efforts and activities towards a common goal, providing a basis for measuring progress and comparing the status of the business with the future vision and attractiveness to employees and investors to join the business.</p>
                        <a href="">See More...</a>
                    </div>
            
                  </div> 
            </div>
            <div class="col-md-4">
                <div class="content-about">
                    <div class="card">
                        <p><strong>Personal Development:</strong>  Entrepreneurs’ ability for personal growth and self-development plays a crucial role in their business growth and success, and the ability to adapt to changes and make informed decisions. Self-development entails continuous learning and seeking opportunities to learn new skills and expand, keep pace with the latest industry trends and best practices. Moreover,</p>
                        <a href="">See More...</a>
                    </div>
            
                  </div> 
            </div>
            <div class="col-md-4">
                <div class="content-about">
                    <div class="card">
                        <p><strong>Self-Confidence:</strong>  Plays an important role in entrepreneurs’ success, through their faith in personal values, skills, and confidence in their abilities to make decisions, manage risks, lead effectively, attract opportunities, influence and inspire others, and take responsibility for results.</p>
                        <a href="">See More...</a>
                    </div>
            
                  </div> 
            </div>
            <div class="col-md-4">
                <div class="content-about">
                    <div class="card">
                        <p><strong>Diligence at Work:</strong>  
                             Entrepreneurs pay great attention, dedication, and continuous effort in performing tasks to achieve success and their goals and develop their projects. It is manifested in dedication, putting in extra effort, and devoting time and energy to achieve the desired results. Entrepreneurs also have the determination and persistence to achieve their goals, not to back down, and to continue working to overcome challenges and difficulties; taking responsibility, striving for continuous improvement, excellence, creativity and innovation by looking for new and innovative ways to solve problems and achieve progress; applying new ideas and using innovative technology to improve their operations and distinguish them from competitors. With commitment, discipline and self-control; they are able to maintain focus on what has been planned and agreed upon in a systematic manner.</p>
                        <a href="">See More...</a>
                    </div>
            
                  </div> 
            </div>
        </div>
      </div>
 
</div>
