<div class="section">
    <img src="../../../assets/images/Vector 1.png" alt="" class="Vector_img">
    <div class="text-header-box">
        <p>The Sharjah Entrepreneurs Award targets the most successful and leading Entrepreneurs in the United Arab Emirates whom had put a footprint in the business world which has a significant impact on their personal and professional life. The Sharjah Entrepreneurs Award is only open to private sector Entrepreneurs in the UAE.</p>
    </div>
</div>
<div class="section-1">
    <div class="text-header">
        <h2>The Assessment Criterion for the Award is as follow</h2>
    </div>

      
    <div class="content-about">
        <div class="card">
            <p>A set of characteristics or traits that distinguish entrepreneurs from others and determine the method of their interaction with the business</p>
        </div>
        <a href="">See More...</a>
      </div>  
</div>
