<div class="wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="row" class="q-page">
                <div class="qustoins">
                    <h4>We will ask you few questions to complete your registration in Sharjah Excellence Award.</h4>
                    <h6>Is this your first time participating in Sharjah Excellence Award ?</h6>
                </div>
                <div class="anwer">
                    <div> <input type="radio" name="" id=""> Yes </div>
                    <div> <input type="radio" name="" id=""> No </div>

                </div>
              <div class="btt-n">
                <button type="submit" class="btn btn btn-start" >Get Start</button>
              </div>
            </div>
        </div>
    </div>
</div>
