<div class="wrap">
    <div class="section">
        <img src="../../../assets/images/Vector 1.png" alt="" class="Vector_img">
        <h4 class="header-text">Board of Trustees Chairman</h4>
    </div>
    <div class="section-1">
        <div class="row">
            <div class="box-chairman">
                <div class="chiar-img">
                    <img src="../../../assets/images/chiarman.jpg" alt="" class="img-chir">
                </div>
                <div class="chiar-text">
                    <p>
                        سعادة عبدالله سلطان العويس<br>
                        HE Abdulla Sultan Al Owais <br> 
                        رئيس مجلس إدارة غرفة الشارقة<br>
                        Chairman of Sharjah Chamber
                    </p>
                </div>
            </div>
        </div>
       <div class="row">
        <div class="col-md-12" style="padding-top: 20px;">
            <div class="row">
                <div class="col-md-4">
                    <div class="main-box">
                        <div class="inner-img">
                            <img src="../../../assets/images/members/mem-1.png" alt="" class="profile-img">
                        </div>
                        <div class="inner-content">
                            <p>
                                سعادة عبدالله سلطان العويس<br>
                                HE Abdulla Sultan Al Owais <br> 
                                رئيس مجلس إدارة غرفة الشارقة<br>
                                Chairman of Sharjah Chamber
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box">
                        <div class="inner-img">
                            <img src="../../../assets/images/members/mem_2.png" alt="" class="profile-img">
                        </div>
                        <div class="inner-content">
                            <p>
                                سعادة عبدالله سلطان العويس<br>
                                HE Abdulla Sultan Al Owais <br> 
                                رئيس مجلس إدارة غرفة الشارقة<br>
                                Chairman of Sharjah Chamber
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box">
                        <div class="inner-img">
                            <img src="../../../assets/images/members/mem_3.png" alt="" class="profile-img">
                        </div>
                        <div class="inner-content">
                            <p>
                                سعادة عبدالله سلطان العويس<br>
                                HE Abdulla Sultan Al Owais <br> 
                                رئيس مجلس إدارة غرفة الشارقة<br>
                                Chairman of Sharjah Chamber
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box">
                        <div class="inner-img">
                            <img src="../../../assets/images/members/mem_4.png" alt="" class="profile-img">
                        </div>
                        <div class="inner-content">
                            <p>
                                سعادة عبدالله سلطان العويس<br>
                                HE Abdulla Sultan Al Owais <br> 
                                رئيس مجلس إدارة غرفة الشارقة<br>
                                Chairman of Sharjah Chamber
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box">
                        <div class="inner-img">
                            <img src="../../../assets/images/members/mem_5.png" alt="" class="profile-img">
                        </div>
                        <div class="inner-content">
                            <p>
                                سعادة عبدالله سلطان العويس<br>
                                HE Abdulla Sultan Al Owais <br> 
                                رئيس مجلس إدارة غرفة الشارقة<br>
                                Chairman of Sharjah Chamber
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box">
                        <div class="inner-img">
                            <img src="../../../assets/images/members/mem_6.png" alt="" class="profile-img">
                        </div>
                        <div class="inner-content">
                            <p>
                                سعادة عبدالله سلطان العويس<br>
                                HE Abdulla Sultan Al Owais <br> 
                                رئيس مجلس إدارة غرفة الشارقة<br>
                                Chairman of Sharjah Chamber
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box">
                        <div class="inner-img">
                            <img src="../../../assets/images/members/mem_7.png" alt="" class="profile-img">
                        </div>
                        <div class="inner-content">
                            <p>
                                سعادة عبدالله سلطان العويس<br>
                                HE Abdulla Sultan Al Owais <br> 
                                رئيس مجلس إدارة غرفة الشارقة<br>
                                Chairman of Sharjah Chamber
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box">
                        <div class="inner-img">
                            <img src="../../../assets/images/members/mem_8.png" alt="" class="profile-img">
                        </div>
                        <div class="inner-content">
                            <p>
                                سعادة عبدالله سلطان العويس<br>
                                HE Abdulla Sultan Al Owais <br> 
                                رئيس مجلس إدارة غرفة الشارقة<br>
                                Chairman of Sharjah Chamber
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box">
                        <div class="inner-img">
                            <img src="../../../assets/images/members/mem_9.png" alt="" class="profile-img">
                        </div>
                        <div class="inner-content">
                            <p>
                                سعادة عبدالله سلطان العويس<br>
                                HE Abdulla Sultan Al Owais <br> 
                                رئيس مجلس إدارة غرفة الشارقة<br>
                                Chairman of Sharjah Chamber
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>