<div class="wrap">
    <div class="section">
        <img src="../../../assets/images/Vector 1.png" alt="" class="Vector_img">
        <h4 class="header-text">Board of Trustees Chairman</h4>
    </div>
    <div class="section-1">
        <div class="row">
            <div class="box-chairman">
                <div class="chiar-img">
                    <img src="../../../assets/images/chiarman.jpg" alt="" class="img-chir">
                </div>
                <div class="chiar-text">
                    <p>
                        سعادة عبدالله سلطان العويس<br>
                        HE Abdulla Sultan Al Owais <br> 
                        رئيس مجلس إدارة غرفة الشارقة<br>
                        Chairman of Sharjah Chamber
                    </p>
                </div>
            </div>
        </div>
       <div class="row">
        <div class="col-md-12" style="padding-top: 20px;">
            <div class="row">
                <div class="col-md-4">
                    <div class="box-member">
                        <div class="card">
                            <div class="card_content">
                              <div class="card_title">سعادة سلطان عبدالله بن هده السويدي <br>   
                                HE Sultan Bin Hadda Al Suwaidi   <br>
                               </div>
                              <div class="card_desc">رئيس دائرة التنمية الاقتصادية في الشارقة 
                                Chairman of Sharjah Economic Dev. Dept</div>
                            </div>
                            <div class="card_bottom_shadow"></div>
                          </div>
                          <div class="content">
                            <p>عادة سلطان عبدالله بن هده السويدي    <br>
                                HE Sultan Bin Hadda Al Suwaidi   <br>
                               رئيس دائرة التنمية الاقتصادية في الشارقة <br>
                               Chairman of Sharjah Economic Dev. Dept</p>
                          </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-member">
                        <div class="card-1">
                            <div class="card_content">
                              <div class="card_title">سسعادة حليمة العويس <br>HE Halima Al Owais <br>
                               </div>
                              <div class="card_desc">عضو مجلس إدارة غرفة الشارقة <br>               
                                                  SCCI Board Member</div>
                            </div>
                            <div class="card_bottom_shadow"></div>
                          </div>
                          <div class="content">
                            <p>عادة سلطان عبدالله بن هده السويدي    <br>
                                HE Sultan Bin Hadda Al Suwaidi   <br>
                               رئيس دائرة التنمية الاقتصادية في الشارقة <br>
                               Chairman of Sharjah Economic Dev. Dept</p>
                          </div>
                          
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-member">
                        <div class="card">
                            <div class="card_content">
                              <div class="card_title">سعادة سلطان عبدالله بن هده السويدي <br>   
                                HE Sultan Bin Hadda Al Suwaidi   <br>
                               </div>
                              <div class="card_desc">رئيس دائرة التنمية الاقتصادية في الشارقة 
                                Chairman of Sharjah Economic Dev. Dept</div>
                            </div>
                            <div class="card_bottom_shadow"></div>
                          </div>
                          <div class="content">
                            <p>عادة سلطان عبدالله بن هده السويدي    <br>
                                HE Sultan Bin Hadda Al Suwaidi   <br>
                               رئيس دائرة التنمية الاقتصادية في الشارقة <br>
                               Chairman of Sharjah Economic Dev. Dept</p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>