.section{
    background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(227, 208, 5, 0)),url('../../../assets/images/backgroundNew.jpg') fixed center center;
    background-size: cover;
    padding: 60px 0;
    color: white;
    height: 300px;
  }
  .Vector_img{
   background:  fixed center center ;
  }
  .header-text{
    position: relative;
    bottom: 10rem;
    left: 8rem;
    font-size: 41px;
    background: #f1f0f069;
    padding: 2rem;
    width: 41rem;
  }
  .section-1{
    padding: 30px;
    /* background-image: url('../../../assets/images/members/profile-bg.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.box-chairman{
    display: flex;
}
.chiar-text{
    padding: 28px;
    position: relative;
    top: 7rem;
}

  .main-box{
    background-color: #629fb2;
    display: flex;
    padding: 6px;
    border-radius: 7px;
    height: 16rem;
    margin-left: 3rem;
    margin-top: 3rem;
    box-shadow: 2px -2px 16px 2px #36bf27;
  }
  .profile-img{
    width: 185px;
    padding-top: 26px;
    position: relative;
    right: 2rem;
  }
  .inner-content{
    padding-top: 24px;
    color: white;
  }
  .img-chir{
    width: 15rem;
    height: 100%;
  }