<div class="wrap">
    <div class="section">
        <img src="../../../assets/images/Vector 1.png" alt="" class="Vector_img">
        <h4 class="header-text">Board of Trustees Chairman</h4>
    </div>
    <div class="section-1">
        <div class="row">
            <div class="box-chairman ">
                <div class="chiar-img">
                    <img src="../../../assets/images/chiarman.jpg" alt="" class="img-chir">
                </div>
                <div class="chiar-text">
                    <p>
                        سعادة عبدالله سلطان العويس<br>
                        HE Abdulla Sultan Al Owais <br>
                        رئيس مجلس إدارة غرفة الشارقة<br>
                        Chairman of Sharjah Chamber
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top: 20px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="main-box">
                            <div class="inner-img">
                                <img src="../../../assets/images/members/mem-1.png" alt="" class="profile-img">
                            </div>
                            <div class="inner-content">
                                <p>
                                    سعادة عبدالله سلطان العويس<br>
                                    HE Abdulla Sultan Al Owais <br>
                                    رئيس مجلس إدارة غرفة الشارقة<br>
                                    Chairman of Sharjah Chamber
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box">
                            <div class="inner-img">
                                <img src="../../../assets/images/members/mem_2.png" alt="" class="profile-img">
                            </div>
                            <div class="inner-content">

                                <p>
                                    سعادة حليمة العويس<br>
                                    HE Halima Al Owais <br>
                                    رضو مجلس إدارة غرفة الشارقة <br>
                                    SCCI Board Member
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box">
                            <div class="inner-img">
                                <img src="../../../assets/images/members/mem_3.png" alt="" class="profile-img">
                            </div>
                            <div class="inner-content">
                                <p>
                                    سعادة سعيد غانم السويدي
                                    HE Saeed Ghanim Al Suwaidi
                                    رئيس اللجنة التنفيذية لمجموعة عمل قطاع العقارات Chairman of the Real Estate
                                    Committee
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box">
                            <div class="inner-img">
                                <img src="../../../assets/images/members/mem_4.png" alt="" class="profile-img">
                            </div>
                            <div class="inner-content">
                                <p>
                                    سعادة خالد جاسم المدفع
                                    HE Khaled Al Midfaa
                                    رئيس دائرة هيئة الانماء التجاري والسياحي بالشارقة Chairman of Sharjah Commerce &
                                    Tourism Dev. Authority
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box">
                            <div class="inner-img">
                                <img src="../../../assets/images/members/mem_5.png" alt="" class="profile-img">
                            </div>
                            <div class="inner-content">
                                <p>
                                    سعادة محمد احمد الشحي
                                    HE Mohamed Al Shehhi عضو مجلس إدارة غرفة الشارقة
                                    SCCI Board Member
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box">
                            <div class="inner-img">
                                <img src="../../../assets/images/members/mem_6.png" alt="" class="profile-img">
                            </div>
                            <div class="inner-content">
                                <p>
                                    سعادة د. صلاح طاهر الحاج
                                    HE Dr. Salah Taher Al haj
                                    مساعد مدير جامعة الشارقة لشؤون المجتمع Vice Chancellor for Community Affairs at UOS
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box">
                            <div class="inner-img">
                                <img src="../../../assets/images/members/mem_7.png" alt="" class="profile-img">
                            </div>
                            <div class="inner-content">
                                <p>
                                    سعادة وليد عبدالرحمن بو خاطر HE Waleed Bukhatir
                                    النائب الثاني لرئيس مجلس إدارة الغرفة Second Vice Chairman of SCCI
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box">
                            <div class="inner-img">
                                <img src="../../../assets/images/members/mem_8.png" alt="" class="profile-img">
                            </div>
                            <div class="inner-content">
                                <p>
                                    سعادة لالو سامويل HE Lalu Samuel
                                    رئيس اللجنة التمثيلية لمجموعة عمل قطاع الصناعة Chairman of Sharjah Industrial
                                    Business Group
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box">
                            <div class="inner-img">
                                <img src="../../../assets/images/members/mem_9.png" alt="" class="profile-img">
                            </div>
                            <div class="inner-content">
                                <p>
                                    سعادة محمد أحمد امين العوضي
                                    HE Mohd Ahmed Amen Al Awadh مدير عام غرفة تجارة وصناعة الشارقة Director General of
                                    SCCI
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>